<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <script th:src="@{/js/jquery-3.6.0.js}"></script>
    <title>Book</title>
</head>
<body>
<div class="form-popup-layer" th:fragment="popup-form">
    <div class="form-popup-box">
        <form class="post-form">
            <div class="post-input">
                <label>Category Name*</label>
                <div class="error-group">
                    <input type="text" class="category-name">
                    <div class="error-message-popup" data-for="name"></div>
                </div>
            </div>
            <div class="post-input">
                <label>Floor*</label>
                <div class="error-group">
                    <input type="text" class="category-floor">
                    <div class="error-message-popup" data-for="floor"></div>
                </div>
            </div>
            <div class="post-input">
                <label>Isle*</label>
                <div class="error-group">
                    <input type="text" class="category-isle">
                    <div class="error-message-popup" data-for="isle"></div>
                </div>
            </div>
            <div class="post-input">
                <label>Bay*</label>
                <div class="error-group">
                    <input type="text" class="category-bay">
                    <div class="error-message-popup" data-for="bay"></div>
                </div>
            </div>
            <div class="post-button">
                <button type="submit" class="popup-save-button">Save</button>
                <button type="button" class="popup-close-button">Close</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>