<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>Home</title>
</head>
<body>
<div class="container">
    <nav th:replace="~{layout :: nav}"></nav>
    <main>
        <div class="home-container">
            <div class="home-content">
                <h1>Winterhold Library</h1>
                <p>Knowledge is the best weapon you have, please find some fascinating books we have. This app will
                help you do that, as long as you keep extend your membership (it's totally free!)</p>
            </div>
        </div>
    </main>
    <footer th:replace="~{layout :: footer}"></footer>
</div>
</body>
</html>